$indents: 2em;

#toastContainer-bottomRight {
    bottom: $indents;
    right: $indents;
}

#toastContainer-bottomLeft {
    bottom: $indents;
    left: $indents;
}

#toastContainer-topRight {
    top: $indents;
    right: $indents;
}

#toastContainer-topLeft {
    top: $indents;
    left: $indents;
}