$indents: 1em;

.toastContainer {
	box-sizing: border-box;
	position: fixed;
	z-index: 9999;
    
    &-bottomRight {
        bottom: $indents;
        right: $indents;
    }
    
    &-bottomLeft {
        bottom: $indents;
        left: $indents;
    }
    
    &-topRight {
        top: $indents;
        right: $indents;
    }
    
    &-topLeft {
        top: $indents;
        left: $indents;
    }
}